ul {
    text-align: center;
}

.container {
    background-color: grey;
}

.container-fluid {
    background-color: bisque;
}

.first {
    background-color: #000;
    color: #fff;
}

.navbar {
    background-color: #fff;
}

.not-rounded {
    border-radius: 0;
}

.red-text {
    color: red;
}

.blue-text {
    color: blue;
}

.green-text {
    color: green;
}

.yellow-text {
    color: yellow;
}

.pink-text {
    color: pink;
}

.purple-text {
    color: purple;
}

.navbar-brand {
    width: 45px;
}